* {
    font-family: 'Raleway', sans-serif; 
}

body {
    background-color: var(--color-alt);
}

:root {
    --color-main: #eaece5;
    --color-alt: #667292;
}

.header-name {
    width: 50%;
}

header {
    display: flex;
    background-color: #454140;
    color: var(--color-main);
}

h1 {
    font-size: 5em;
    padding: 20px 20px 14px 20px;
}

h2 {
    font-size: 1.5em;
    padding: 0 20px 20px 20px;
}

.my-links {
    width: 50%;
    text-align: right;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

ul {
    padding: 88px 24px 0 24px;
}

li {
    display: inline-block;
    margin: 20px;
}

.banner {
    width: 100%;
    height: 14px;
    background-color: black;
}
.about-me {
    display: flex;
    padding: 30px 12px 30px 12px;
    /* border: 2px solid #bd5734; */
    text-align: start;
    color: var(--color-main);
}

.about-me-text {
    width: 60%;
    text-align: left;
    padding-top: 80px;
}

.about-me h3 {
    font-size: 3.5em;
    padding: 20px 0 20px 40px;
    margin-right: 12px;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.75em;
    padding: 20px 120px 0 40px;
    line-height: 2em;;
}

.about-me img {
    width: 40%;
    height: auto;
    margin-right: 12px;
}

.my-work {
    display: flex;
    background-color:#454140;
    color: var(--color-main);
    padding: 20px 20px 20px 20px;
    width: 100%;
}
.my-work-text {
    /* margin-left: 20px; */
    width: 25%;
    padding-top: 120px;
    border-right: 4px solid var(--color-main);
    margin-right: 32px;
}
.my-work h3 {
    font-size: 3.5em;
    padding-bottom: 6px;
}

.my-work h4 {
    font-size: 1em;
    margin-bottom: 60px;
}
.my-work .project-1 {
    width: 50%;
    margin-right: 32px;
}
.my-work p {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 16px;
    margin: 0 auto;
    width: 100%;
}

.my-work img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.project-2-3 {
    justify-content: center;
    width: 25%;
    height: auto;
}

@media screen and (max-width: 933px) {
    header {
        flex-direction: column;
        display: block;
    }

    .header-name,
    .my-links {
        width: 100%;
        text-align: center;
        font-size: 85%;
    }

    ul {
        padding-top: 0px;
        padding-bottom: 4px;
    }

    li {
        margin: 4px;
    }
}

@media screen and (max-width: 1180px) {
    .about-me {
        flex-direction: column;
        width: 100%;
    }

    .about-me-text {
        width: 100%;
        padding: 8px;
        text-align: center;
    }

    .about-me p {
        width: 100%;
        font-size: 24px;
        margin: 0 auto;
        padding: 14px;
        line-height: normal;
    }

    .about-me h3 {
        margin: 0 auto;
        padding: 10px;
    }

    .about-me img {
        margin: 0 auto;
    }
}
